.wrapper {
    width: 100%;
    background-color: #000;
    border-top: 10px solid #222;
    border-bottom: 10px solid #222;
}

.smartWrapper {
    display: flex;
    align-items: center;
    background-color: #000;
    width: 85%;
    color: white;
    margin: 0 auto;
}

.smartWrapper > img {
    width: 45%;
    float: right;
}

.contact > h1 {
    font-size: 3rem;
}

.contact > p {
    font-size: 1.5rem;
    margin-top: 1rem;
}



@media only screen and (max-width:950px){
    .smartWrapper {
        flex-direction: column;
        text-align: center;
        margin: 2rem auto;
    }
    .smartWrapper > img {
        width: 90%;
    }
    .contact > h1 {
        font-size: 2.5rem;
    }
    .contact > p {
        font-size: 1.5rem;
    }
}
